html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(-135deg, #AD0000, #000000);
  font-family: 'Poppins', sans-serif !important;
}
#ulcerlocationsdiv {
  background: #fff;
  width: 90%;
  height: 624px;
  max-width: 450px;
  border-radius: 25px;
  box-shadow: 10px 1px 100px #111;
}
#ulcerlocationsdiv img {
  padding: 20px;
  left: 0;
}
#ulcerlocations {
	border-radius: 25px;
	padding: 5px 0;
	height: 400px;
	overflow-y: auto; 
}
#ulcerlocations li {
	list-style: none;
	border-bottom: 1px solid #666;
	margin: 0 20px;
	padding: 15px;
}
#ulcerlocations a {
	color: #313131;
	margin-bottom: 5px;
}
#ulcerlocations a:hover {
	color: #313131;
	text-decoration: none;
}
/* ----------- SCROLLBAR -------------- */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}