#headers > div {
    margin: 0 20px;
    padding: 0 15px;
}
#status {
    border-radius: 25px;
    padding: 5px 0;
    overflow-y: auto;
    height: 40vh;
}
#status li {
    list-style: none;
    border-bottom: 1px solid #666;
    margin: 0 20px;
    padding: 15px;
}
#status a {
    color: #313131;
    margin-bottom: 5px;
}
#status a:hover {
    color: #313131;
    text-decoration: none;
}
#ulcerPicture {
    width: 100%;
    height: auto;
    min-height: 150px;
    padding: 20px !important;
    background: #e8e8e8;
    border-radius: 5px;
}
#ulcerLocation {
    width: 150px;
    margin: auto;
}
.FRONT{
    background: url(./../newPatient/assets/BodyFront.png) center no-repeat;
    background-size: 80%;
    height: 300px;
}
.BACK{
    background: url(./../newPatient/assets/BodyBack.png) center no-repeat;
    background-size: 80%;
    height: 300px;
}
.RIGHT{
    background: url(./../newPatient/assets/BodyRight.png) center no-repeat;
    height: 300px;
    background-size: 40%;
}
.LEFT{
    background: url(./../newPatient/assets/BodyLeft.png) center no-repeat;
    height: 300px;
    background-size: 40%;
}
.bodyPart{
    height: 37px;
    border-radius: 100%;
}
#ulcerChart {
    width: 70%;
    height: auto;
}
.opt-btn{
    margin: 1%;
}