#locations {
	border-radius: 25px;
	padding: 5px 0;
	height: 400px;
	overflow-y: auto; 
}
#locations li {
	list-style: none;
	border-bottom: 1px solid #666;
	margin: 0 20px;
	padding: 15px;
}
#locations a {
	color: #313131;
	margin-bottom: 5px;
}
#locations a:hover {
	color: #AD0000;
	text-decoration: none;
}